body {
    font-family: Arial, Helvetica, sans-serif;
}

.menu {
    display: flex;
    padding: 0;
    list-style: none;
}

.menu li {
    padding: 8px 16px;
}

.menu li:hover {
    background-color: #eeeeee;
}

.has-submenu {
    position: relative;
}

.has-submenu:hover .submenu {
    display: block;
}

.submenu {
    list-style: none;
    padding: 0;
    position: absolute;
    display: none;
    left: 0;
    top: 100%;
    background-color: #eeeeee;
}

a {
    text-decoration: none;
    color: black;
}